
html {
    background-image: url("http://www.jeremie-deghaye.fr/work.jpeg");
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
    font-size: 700;
    opacity: 0.8;
}

.main {
    height: 85vh;
}

.infos {
    height: 15vh;
}

.home {
    margin-bottom: -3em;
}
#home-link {
    font-size: 2em;
    color: dimgray;

}

.menu {
    
    border-radius: 5px;
    box-shadow: 0 30px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    text-transform: uppercase;
    font-weight: bolder !important;
    padding-top: 0.5em;
    padding-bottom: 2em;
    
}

.card-body {
    text-transform: none;
    color: dimgray;
    max-height: 30vh !important;
    overflow: scroll;
}

.menu a {
    color: dimgray;
}

.menu .btn-open {
    color: dimgray !important;

}

.btn-open:hover {
    color: black !important;
}

.nav {
    padding-bottom: 2em;
}

.nav-link:hover {
    color: black;
}

.section-name {
    font-size: 3em;

}

/* card flip */


  .flip-card {
    background-color: transparent;
    perspective: 1000px;
    padding: 0;
  }
  
  .flip-card-inner {
    
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:focus {
      outline: 0;
  }
  
  .flip-card:hover .flip-card-inner,
  .flip-card:focus .flip-card-inner{
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    
    color: dimgray;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    z-index: 2;
    padding: 0;
    
  }
  
  .flip-card-back {
    padding: 0;
    transform: rotateY(180deg);
    z-index: 1;
    
  }